
<div class="container">
  <div class="list">
    <div class="list-item" *ngFor="let amiibo of amiibos">
      <figure class="list-figure">
        <img [src]="amiibo.image" [alt]="amiibo.name">
      </figure>
      <div class="list-description">
        <h1>{{ amiibo.name }}</h1>
        <p>
          <span>Nome:</span> {{ amiibo.name }}<br>
          <span>Série:</span> {{ amiibo.series }}<br>
          <span>Game:</span> {{ amiibo.series }}<br>
          <span>Lançamento:</span> {{ amiibo.release[0] | release }}<br>
        </p>
      </div>
    </div>
  </div>
</div>
